* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 40px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_oficial {
  margin-top: 6px;
  opacity: 0.5;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.subheader .subheader_call {
  color: white;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader .sunheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  min-height: 800px;
  background: url("../bg/main_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 22px;
}

.promo .promo_descr {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 115px auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
